* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

canvas {
    background-color: rgb(225, 225, 225);
}

h1 {
    font-size: 2.4rem;
    text-align: center;
    padding: 30px 30px 20px 30px;
}

.main-content {
    text-align: center;
}

.gallery {
    padding: 10px;
}

.grid-container {
    width: 70vw;
    padding-top: 10px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    align-items: center;
    justify-items: center;
    gap: 10px;
}

.item {
    height: 10rem;
    cursor: pointer;
    transition: transform .2s;
    border-radius: 3%;
}

.item:hover {
    transform: scale(1.2);
}

.item {
    height: 10rem;
    cursor: pointer;
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 3rem;
    padding: 30px 0 30px 30px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
}

.nav-link {
    padding: 8px;
}

.search-Input {
    /* font-family: ariel, sans-serif; */
    font-size: 1rem;
    border-radius: 2rem;
    text-align: center;
    padding: 8px 10px;
}

.canvas-wrap {
    margin: 0 auto;
    width: 60%;
}

.canvas-container {
    margin: 0 auto;
    height: 500px;
    width: 500px;
}

.meme-editor {
    width: 98vw;
    display: flex;
    flex-direction: row;
    display: none;
}

.editor-form {
    width: 40%;
    background-color: rgba(0, 0, 0, 0.017);
}

.editor-options {
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: space-evenly;
}

.editor-row {
    align-items: flex-start;
}

.editor-btn,
.input,
.img-input {
    min-width: 4rem;
    font-size: 1rem;
    border-radius: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.072);
    padding: 8px 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.saved-item {
    width: 160px;
}

input[type="file"] {
    display: none;
}

label.item.img-upload {
    padding: 60px 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.142);
}

@media (max-width: 860px) {
    html {
        font-size: 16px;
    }

    .canvas-wrap {
        width: 100vw;
    }

    .canvas-container {
        margin: 0 auto;
        height: 100%;
        width: 100%;
    }

    .meme-editor {
        width: 96vw;
        flex-direction: column;
    }

    .editor-form {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.017);
    }

    .editor-options {
        margin: 0 auto;
        width: 60%;
        height: 18rem;
        align-items: center;
    }

    li {
        display: flex;
        justify-content: space-evenly;
    }
}

@media (max-width: 760px) {
    .grid-container {
        width: 100vw;
    }
}