* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: assistant;
    src: url(/fonts/Assistant-Regular.ttf);
}

html {
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: assistant, Arial, Helvetica, sans-serif;
    cursor: default;
    font-size: 18px;
}

body {
    background-color: #0164883c;
}

canvas {
    background-color: rgb(225, 225, 225);
}

h1 {
    font-size: 2.4rem;
    text-align: center;
    padding: 30px 30px 20px 30px;
}

.main-content {
    text-align: center;
}

.gallery {
    padding: 10px;
}

.grid-container {
    width: 60vw;
    padding-top: 10px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    align-items: center;
    justify-items: center;
    gap: 20px;
}

.main-gallery {
    background-color: #2f4f4f0f;
}

.item {
    height: 140px;
    cursor: pointer;
    transition: transform .2s;
    border-radius: 3%;
    cursor: pointer;
}

.item:hover {
    transform: scale(1.05);
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 11px 20px #00b5ff21;
}

.logo {
    padding: 30px;
}

.logo-img {
    height: 60px
}

.nav-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    margin: 0 30px 0 0;
    text-decoration: none;
}

.nav-link {
    padding: 8px;
    text-decoration: none;
}

.canvas-container {
    margin: 0 20px;
}

canvas {
    border-radius: 15px;
    box-shadow: 1px 4px 20px #00000033;
    max-width: 500px;
    max-height: 500px;
}

.meme-editor {
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    display: none;
}

.editor-form {
    width: 410px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.713);
    border-radius: 15px;
    box-shadow: 1px 4px 20px #00000033;
    flex-basis: auto;
}

.editor-options {
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: space-evenly;
}

.editor-row {
    align-items: flex-start;
}

.editor-btn,
.input,
.img-input {
    min-width: 4rem;
    font-size: 1rem;
    border-radius: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.072);
    padding: 8px 10px;
    cursor: pointer;
    margin-bottom: 10px;
    box-shadow: 0px 9px 20px 0px rgb(0 0 0 / 13%);
}

.editor-btn {
    font-size: 1rem;
}


.saved-item {
    width: 160px;
}

input[type="file"] {
    display: none;
}

label.item.img-upload {
    padding: 60px 10px;
    width: 140px;
    height: 140px;
    background-color: rgb(221, 221, 221);
}

.search-wrap {
    max-width: 450px;
    margin: 30px auto;
}

.search-wrap .search-input {
    position: relative;
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.search-input input {
    font-size: 1rem;
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.search-input .icon {
    height: 55px;
    width: 55px;
    line-height: 55px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 1.3rem;
    cursor: pointer;
}

.search-input .autocom-box {
    padding: 0;
    max-height: 280px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
}

.search-input.active .autocom-box {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.autocom-box li {
    list-style: none;
    padding: 8px 12px;
    width: 100%;
    cursor: default;
    border-radius: 3px;
    text-align: start;
    display: none;
}

.search-input.active .autocom-box li {
    display: block;
}

.autocom-box li:hover {
    background: #efefef;
}

.hashtag {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 50vw;
    margin: 0 auto;
    align-items: center;
}

.tag {
    padding: 20px;
    cursor: pointer;
    transition: color .3s;
}

.tag:hover {
    color: rgba(0, 0, 0, 0.3);
}

.more-hashtag {
    flex-wrap: wrap;
}

.clear-tag {
    color: red;
    font-size: 1.3rem;
}

.more-tag {
    color: rgb(68, 142, 215);
    font-size: 1.3rem;
}

.hide-tag {
    color: rgb(68, 142, 215);
    font-size: 1.3rem;
    font-weight: 500;
}

.sticker {
    font-size: 4rem;
    display: inline-block;
    vertical-align: text-bottom;
}

.download a {
    text-decoration: none;
}

.bg-color-input {
    visibility: hidden;
}

.stroke-color-input {
    visibility: hidden;
}

.heddin-color-input {
    height: 0px;
}

.menu-toggle-btn {
    display: none;
}

.main-header .main-nav li {
    box-shadow: -1px 0 0 rgba(230, 230, 230, 0.125);
}


/* modal */

.modal {
    font-size: 0.8rem;
    z-index: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(0, 0, 0, 0.185);
    padding: 30px 20px 30px 20px;
    text-align: center;
    width: 450px;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.685);
    box-shadow: 3px 3px 10px rgba(0 0 0 / 0.5);
    transform: scale(0, 0);
    list-style: none;
}

.modal-title {
    font-size: 1.5rem;
}

body.modal-open .modal {
    transform: scale(100%, 100%);
    transform: translate(-50%, -50%);
}

.modal-screen {
    z-index: 1;
    position: fixed;
    inset: 0;
    background-color: rgb(0 0 0 / 70%);
    display: none;
    cursor: pointer;
}

body.modal-open .modal-screen {
    display: block;
}

/* ////////////////////////// */



.main-nav a {
    padding: 3rem 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
    color: #000000;
    /* font-weight: 500; */
    font-size: 1.2rem;
}

.main-nav a:hover {
    box-shadow: inset 0 -5px 0 rgb(0 189 255 / 30%);
    color: rgba(255, 255, 255, 0.603);
    /* border: #00000011 1px solid; */
}

.main-nav {
    display: flex;
}

/* slider */

/* ///////////////////////////////////////////////////////////// */

.slideshow-container {
    position: relative;
    background: #01648811;
}

.mySlides {
    display: none;
    padding: 5px;
    text-align: center;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
}

.prev {
    left: 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.dot-container {
    text-align: center;
    padding: 5px;
    background: #f1f1f1f1;
}

.dot {
    cursor: pointer;
    height: 0.5rem;
    width: 0.5rem;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* ////////////////////////////////////////////////////////////// */

/* about page */
/* /////////////////////////////////////////////////////////////// */

.about-page {
    display: none;
}

.about-title {
    font-size: 35px;
    margin-top: 20px;
    font-weight: 500;
    padding: 10px;
    margin: 0;
}

.about-title:hover {
    color: lightyellow;
    transition-duration: 0.8s;
}

.profile-pic {
    border-radius: 50%;
    margin-bottom: 20px;
    max-height: 400px;
}

.profile-pic:hover {
    border-radius: 45%;
    transition-duration: 0.6s;
}

.personal-list {
    display: table;
    margin: auto;
    padding-right: 1%;
    font-size: 18px;
    list-style: none;
    margin-bottom: 10px;
}

.personal-list-li:hover {
    color: lightyellow;
}

span {
    color: black;
    font-weight: 600;
}

.button-1 {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: assistant system-ui, assistant, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 22px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-1:hover {
    box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

footer {
    height: auto;
    width: 100%;
    margin-top: 3%;
    bottom: 0%;
}

.footerText {
    font-size: 18px;
    color: rgb(63, 63, 63);
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.social-links {
    padding-left: auto;
    padding-right: auto;
    color: rgb(117, 196, 192);
    padding-left: 5px;
    padding-right: 5px;
}

.contact {
    height: 50px;
    border: 3px;
    border-style: solid;
    border-radius: 50%;
    color: aliceblue;
}

.contact:hover {
    box-shadow: 10px 0px;
    transition-duration: 0.8s;
}

.stay-in-touch {
    height: 55px;
    cursor: pointer;
}

.stay-in-touch:hover {
    box-shadow: 0px 1.5px;
    transition-duration: 0.9s;
}

/* /////////////////////////////////////////////////////////////// */

@media (max-width: 960px) {

    .editor-form {
        max-width: 345px;
        max-height: 420px;
        margin: 10px;
    }

    .editor-btn,
    .input {
        min-width: 2rem;
    }

    .canvas-container {
        margin: 0 1px;
    }

}

@media (max-width: 860px) {
    html {
        font-size: 16px;
    }

    .meme-editor {
        width: 95vw;
        flex-direction: column;
        margin: 0 auto;
    }

    .editor-form {
        align-self: center;
    }

    .editor-options {
        margin: 0 auto;
    }

    .main-nav a {
        padding: 2.5rem 1.5rem;
    }

    .nav-li {
        display: flex;
        justify-content: space-evenly;
    }

    .hashtag {
        width: 100%;
        flex-wrap: wrap;
    }

}

@media (max-width: 760px) {
    .grid-container {
        width: 95vw;
    }

    .canvas-container {
        display: flex;
    }

}

@media (max-width: 660px) {

    nav.main-nav {
        z-index: 2;
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        top: 0;
        align-items: baseline;
        justify-content: center;
        background-color: rgb(192, 202, 228);
        min-width: 250px;
        border-inline-end: rgb(52, 55, 61);
        transform: translateY(-100%);
        transition: transform 0.6s, box-shadow 0.6s;
    }

    .menu-toggle-btn {
        display: inline-block;
    }

    body.menu-open .main-nav {
        transform: translateY(0);
        box-shadow: -1px 9px 17px 2px rgba(0, 0, 0, 0.815);
    }

    .main-screen {
        z-index: 1;
        position: fixed;
        inset: 0;
        background-color: rgb(0 0 0 / 70%);
        display: none;
        cursor: pointer;
    }

    body.menu-open .main-screen {
        display: block;
    }

    .main-nav a {
        padding: 50px;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 58%;
    }

}

.menu-toggle-btn {
    border: none;
    background: none;
    font-size: 2rem;
    margin-right: 35px;
}


@media (max-width: 570px) {

    html {
        font-size: 18px;
    }

    canvas {
        height: 350px;
        width: 350px
    }

    .modal {
        max-width: 350px;
    }

    .search-wrap {
        width: 80%;
    }

    .profile-pic {
        max-height: 300px;
    }

}

@media (max-width: 380px) {

    .logo-img {
        height: 50px
    }

    canvas {
        height: 280px;
        width: 280px
    }

    .editor-form {
        width: 280px;

    }

    .editor-options {
        width: 280px;
        font-size: 0.8rem;
    }

    .modal {
        max-width: 250px;
    }
}